
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

html{
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: white;
}

.body{
    overflow: auto;
}


/* Side Bar styling */
.side-bar{
    float: left;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #46445a;
    width: 14%;
    height: 100vh;
    transition: all 0.3s ease;
    box-shadow: 5px 5px  15px #212121;
}
.list-section{
    padding-left: 10%;
    height: 10%;
}
.expand-icon{
    float: left;
    transition: all 0.3s ease;
}
.expand-icon i{
    cursor: pointer;
    color: white;
    padding-top: 8vh;
    padding-left: 5vw;
    transition: all 0.3s ease;
}
.row{
    overflow: auto;
}
.row i{
    color: white;
    float: left;
    size: 1vmax;
    font-size: 1vmax;
    padding-right: 4px;
    transition: all 0.3s ease;
}
.row h3{
    float: left;
    font-size: 1.1vmax;
    padding-left: 4px;
    margin-top: -2.3px;
    color: white;
    transition: all 0.3s ease;
}
.collapse{
    width: 5% !important;
    transition: all 0.3s ease;
}
.collapse .expand-icon i{
    color: white;
    padding-top: 8vh;
    padding-left: 2vw;
    transition: all 0.3s ease;
}
.collapse .list-section a h3{
    display: none;
    transition: all 0.3s ease;
}
.collapse .list-section a i{
    transition: all 0.3s ease;
    font-size: 1.5vmax;
    padding-left: 30%;
}
/* Side bar styling ends */

/* Main container styling */
.main-container{
    float: right;
    width: 86%;
    transition: all 0.3s ease;
}
.expand-container{
    width: 95% !important;
    transition: all 0.3s ease;
}
/* Main container styling ends*/

/* Top nav bar styling */
.top-nav-bar{
    transition: all 0.3s ease;
    overflow: auto;
    background-color: #46445a;
    padding: 1.5%;
    padding-bottom: 0% !important;
    position: relative;
}
.top-nav-bar .main-ques{
    color: white;
    float: left;
}
.top-nav-bar a .home-icon{
    vertical-align: middle;
    float: right;
    color: white;
    font-size: 32px;
    margin-top: 2px;
    transition: all 0.3s ease;
}

/* Top nav bar styling ends */

/* Sticky nav bar */
.nav{
    transition: all 0.3s ease;
    list-style:none;
    background-color: #46445a;
    margin:0;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align:center;
    position: relative;
}
.nav li{
    display:inline;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2em;
}
.nav a{
    display:inline-block;
    color: lightgrey;
}
.nav :hover{
    color: white;
}
#nav-bar{
    transition: all 0.3s ease;
    overflow: hidden;
    background-color: #46445a;
}
.sticky {
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    width: inherit;
    box-shadow: 9px 5px  10px #212121;
    /* box-shadow: 0px 3px 10px black; */
  }
/* Sticky nav bar ends */
.content{
    background-color: white;
    padding-top: 6%;
    padding-left: 8%;
    transition: all 0.3s ease;
}
.topic{
    margin-bottom: 80px;
    transition: all 0.3s ease;
}
.topic .heading h2{
    transition: all 0.3s ease;
    font-size: 28px;
    text-align: start;
}
.topic .details{
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 50px;
}
.list{
  margin: 2%;
  list-style-type: decimal;
}
@media only screen and (max-width: 990px){
    .main-container{
        width: 100%;
        transition: all 0.3s ease;
    }
    .expand-container{
        transition: all 0.3s ease;
        width: 100% !important;
    }
    .collapse{
        transition: all 0.3s ease;
        width: 0%;
        display: none;
        visibility: hidden;
    }
    .side-bar{
        transition: all 0.3s ease;
        width: 0%;
        display: none;
        visibility: hidden;
    }
    .top-nav-bar{
        padding-top: 2%;
        padding-left: 3%;
        padding-right: 3%;
        transition: all 0.3s ease;
    }
    .top-nav-bar .main-ques{
        font-size: 30px;
        transition: all 0.3s ease;
    }
    .top-nav-bar a .home-icon{
        transition: all 0.3s ease;
        padding-top: 1px;
        font-size: 30px;
    }
    .nav{
        transition: all 0.3s ease;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}
@media only screen and (max-width: 600px){
    .top-nav-bar{
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        transition: all 0.3s ease;
    }
    .top-nav-bar .main-ques{
        font-size: 24px;
        transition: all 0.3s ease;
    }
    .top-nav-bar a .home-icon{
        transition: all 0.3s ease;
        font-size: 22px;
    }
    .nav{
        transition: all 0.3s ease;
        padding-top: 4%;
        padding-bottom: 4%;
    }
    .content{
        padding-top: 9%;
        padding-left: 6%;
        padding-right: 6%;
        transition: all 0.3s ease;
    }
    .topic .heading h2{
        font-size: 28px;
        padding-bottom: 6%;
        text-align: center;
        transition: all 0.3s ease;
    }
    .topic .details{
        margin: unset;
        background-color: inherit;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        box-shadow: unset;
        transition: all 0.3s ease;
    }
    .topic .details p{
        color: unset;
        padding: 0px;
        text-align: justify;
        transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}
