/* =======  Quiz page styling  ========= */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
html {
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: white;
}

.body {
    overflow: auto;
}


/* Top nav bar styling */

.top-nav-bar {
    transition: all 0.3s ease;
    overflow: auto;
    background-color: #46445a;
    padding: 1.5%;
    padding-bottom: 0% !important;
}

.top-nav-bar .main-ques {
    color: white;
    float: left;
}

.top-nav-bar a .home-icon {
    vertical-align: middle;
    float: right;
    color: white;
    font-size: 32px;
    margin-top: 2px;
    transition: all 0.3s ease;
}


/* Top nav bar styling ends */


/* Sticky nav bar */

.nav {
    transition: all 0.3s ease;
    list-style: none;
    background-color: #46445a;
    margin: 0;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
}

.nav li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
}

.nav a {
    display: inline-block;
    color: lightgrey;
}

.nav :hover {
    color: white;
}

#nav-bar {
    transition: all 0.3s ease;
    overflow: hidden;
    background-color: #46445a;
}

.sticky {
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    width: inherit;
    /* box-shadow: 0px 3px 10px black; */
}


/* Sticky nav bar ends */

.content {
    background-color: white;
    padding: 6%;
    padding-top: 4%;
}

@media only screen and (max-width: 990px) {
    .main-container-quiz {
        width: 100%;
        transition: all 0.3s ease;
    }
    .expand-container-quiz {
        transition: all 0.3s ease;
        width: 100% !important;
    }
    .top-nav-bar {
        padding-top: 2%;
        padding-left: 3%;
        padding-right: 3%;
        transition: all 0.3s ease;
    }
    .top-nav-bar .main-ques {
        font-size: 30px;
        transition: all 0.3s ease;
    }
    .top-nav-bar a .home-icon {
        transition: all 0.3s ease;
        padding-top: 1px;
        font-size: 30px;
    }
    .nav {
        transition: all 0.3s ease;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

@media only screen and (max-width: 600px) {
    .top-nav-bar {
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        transition: all 0.3s ease;
    }
    .top-nav-bar .main-ques {
        font-size: 24px;
        transition: all 0.3s ease;
    }
    .top-nav-bar a .home-icon {
        transition: all 0.3s ease;
        font-size: 22px;
    }
    .nav {
        transition: all 0.3s ease;
        padding-top: 4%;
        padding-bottom: 4%;
    }
    .content {
        padding-top: 9%;
        padding-left: 6%;
        padding-right: 6%;
        transition: all 0.3s ease;
    }
}


/* Main container Quiz styling */

.main-container-quiz {
    width: 100%;
    transition: all 0.3s ease;
}

.expand-container-quiz {
    transition: all 0.3s ease;
    width: 100% !important;
}


/* Main container Quiz styling ends*/

.answers {
    margin: 20px;
    font-size: 20px;
    padding-left: 3vw;
}

.answers input {
    margin: 10px;
}

.quiz-button {
    background-color: #46445a;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: #000;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}

.quiz-button:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.try-div {
    text-align: center;
    margin-bottom: 5%;
}

.restlt {
    width: 100%;
    color: #fff;
    background-color: #46445a;
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
    transition: all 0.3s ease;
}

#correct-answer {
    margin: 5%;
}

.red {
    color: red;
    font-weight: 600;
}

.green {
    color: #2abd2a;
    font-weight: 600;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
}

.h1 {
    text-align: center;
}

.form {
    padding-left: 8vw;
}

.form h4 {
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
}


/* =======  Quiz page styling  ========= */